<div class="spot<%=spot.id%>">
	<h5><%= spot.address %></h5>
	<% if spot.availability %>
		<p>Available</p>
	<% else %>
		<p>Unavailable</p>
	<% end %>
	<div id="toggle<%=spot.id%>"></div>
	<% if spot.availability %>
		<%= render partial: 'spots/form', locals: {spot: spot} %>
	<% end %>
</div>


<script>
	$("#toggle<%=spot.id%>").btnSwitch({
		Theme: 'Light',
		ToggleState: <%= spot.availability %>,
		OnCallback: function(){
			console.log("on");
			$.ajax({
				url: "/spots/<%= spot.id %>",
				method: "PUT",
				data: {"spot": {"availability": true}},
				success: function(res){$(this).append(res);}
			});
		},
		OffCallback: function(){
			$.ajax({
				url: "/spots/<%= spot.id %>",
				method: "PUT",
				data: {"spot": {"availability": false}}
			}).done(function(res){
				$(this).next().hide();
			});
		}
	});

  $(".spot<%=spot.id%>").on("change", ".edit_spot input", function(e){
    console.log("*****************changed**********");
    var serializedArray = $(this).parent().serializeArray();
    var data ={};
    serializedArray.forEach(function(serialized){
	    data[serialized.name] = serialized.value;
    })
    console.log(data);
    $.ajax({
      url: '/spots/<%= spot.id %>',
      method: 'PUT',
      data: data
    }).done(function(res){
    })
  })

</script>

