<h4>My Spots</h4>

<br>

<% @spots.each do |spot| %>

<h5><%= spot.address %></h5>
<div class="toggle"></div>

<script>
	// $(document).load(function(){
		
		$(".toggle").btnSwitch({
			Theme: 'Light',
			OnCallback: function(){
				console.log("on");
				$.ajax({
					url: "users/<%= user.id %>/spots/<%= spot.id %>",
					method: "PUT",
					data: {"spot": {"availability": true}},
					success: function(res){$(this).append(res);}
				});
				$("edit" + spot_id).attr("visibility", true);
			},
			OffCallback: function(){
				$.ajax({
					url: "users/<%= user.id %>/spots/<%= spot.id %>",
					method: "PUT",
					data: {spot: {availability: false}}
				}).done(function(res){
					$(this).next().hide();
				});
				$("edit" + spot_id).attr("visibility", false);
			}
		});
	// });

</script>

<% end %>
