<h1>Create Spot</h1>

<%= form_for @spot do |f| %>

  <%= f.text_field :address, placeholder: "Address" %>
  <%= f.text_field :price, placeholder: "Price" %>
  <%= f.text_field :end_time, placeholder: "End Time" %>
  <%= f.submit "Create" %>

<% end %>
