<%if current_user %>

    <h1>Create Spot</h1>





        <div class="container">
            <div class="row">
                <section>
                    <div class="wizard">
                        <div class="wizard-inner">
                            <div class="connecting-line"></div>
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#step1" data-toggle="tab" title="Step 1"><span class="round-tab"><i class="glyphicon glyphicon-home"></i></span></a></li>
                                <li class="disabled"><a href="#step2" data-toggle="tab" title="Step 2"><span class="round-tab"><i class="glyphicon glyphicon-usd"></i></span></a></li>
                                <li class="disabled"><a href="#step3" data-toggle="tab" title="Step 3"><span class="round-tab"><i class="glyphicon glyphicon-picture"></i></span></a></li>
                                <li class="disabled"><a href="#complete" data-toggle="tab" title="Complete"><span class="round-tab"><i class="glyphicon glyphicon-ok"></i></span></a></li>
                            </ul>
                        </div>
                        <%= form_for @spot do |f| %>
                            <div class="tab-content">
                                <div class="tab-pane active" id="step1">
                                    <h3>Address</h3>
                                    <p><%= f.text_field :address, class: "address_field", required: true %></p>
                                    <ul class="list-inline pull-right">
                                        <li>
                                            <button type="button" class="btn btn-primary next-step">Save and continue</button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane" id="step2">
                                    <h3>Price</h3>
                                      <p>$<%= f.number_field :price, placeholder: "Price", required: true, in: 1.0..20.0, step: 1 %>/h</p>
                                    <ul class="list-inline pull-right">
                                        <li>
                                            <button type="button" class="btn btn-default prev-step">Previous</button>
                                        </li>
                                        <li>
                                            <button type="button" class="btn btn-primary next-step">Save and continue</button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane" id="step3">
                                    <h3>Upload your picture</h3>
                                    <div class="drag-area">
                                        <span class="dropMessage">+</span>
                                    </div>
                                    






                                    <p>
                                           <%= f.file_field :picture %>
                                           <%= f.hidden_field :picture_cache %>
                                    </p>
                                    <ul class="list-inline pull-right">
                                        <li>
                                            <button type="button" class="btn btn-default prev-step">Previous</button>
                                        </li>
                                        <li>
                                            <button type="button" class="btn btn-default next-step">Skip</button>
                                        </li>
                                        <li>
                                            <button type="button" class="btn btn-primary btn-info-full next-step">Save and continue</button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane" id="complete">
                                    <h3>Complete</h3>
                                    <p>You have successfully completed all steps.</p>
                                    <%= f.submit "Create" %>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        <% end %>
                    </div>
                </section>
            </div>
        </div>
<% else %>
    <h4>Sign up here to create a spot</h4>
    <%= link_to 'Sign Up', new_user_registration_path %>
<% end %>
