<!-- <h1>Spot Details</h1>
<%# if @spot.picture.url %>
  <%#= image_tag @spot.picture.url, class: 'spot-picture' %>
<%# end %>
<p>Price: <%#= @spot.price %></p>
<p>Address: <%#= @spot.address %></p>
<p>End Time: <%#= @spot.end_time %></p>
<%#= button_to 'Make a reservation', spot_reservations_path(@spot) %> -->




    <h1 style="text-align:center;">Spot Details</h1>
    <div class="container">
    <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="thumbnail">
      <img src="<%= @spot.picture.url %>">
      <div class="caption">
        <p class="papa">Price: <%= @spot.price %>/h</p>
        <p class="papa">Address: <%= @spot.address %></p>
        <p class="papa">End Time: <%= @spot.end_time.strftime("%m/%d/%Y %l:%M %p") %></p>
        <% if @spot.owner == current_user  %>
            <p style="color: red">This spot is your spot.</p>
        <% else %>
            <%= link_to 'Make a reservation', spot_reservations_path(@spot), method: :post %> 
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>