<h1>Spot Details</h1>
<%= image_tag @spot.picture.url class: 'spot-picture'%>
<p>Price: <%= @spot.price %></p>
<p>Address: <%= @spot.address %></p>
<p>End Time: <%= @spot.end_time %></p>
  <%= button_to 'Make a reservation', spot_reservations_path(@spot) %>
