<div class="team-grid">
	<div class="container">
		<div class="intro">
			<h2 class="text-center">Team</h2>
		</div>
		<div class="row people">
			<div class="col-md-3 col-sm-4 item">
				<div class="box" style="background-image:url(https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAeAAAAAJGJkOWFkNGVmLWVhODctNDRjMC1hYjJhLWQ5MzNhMDlhYTAwMw.jpg)">
					<div class="cover">
						<h3 class="name">Yusuke Takeuchi</h3>
						<p class="title">Software Samurai</p><br><br>
						<div class="social"><a href="https://www.linkedin.com/in/yusuke-takeuchi/" target="_blank"><i class="linkedin-official"><%= image_tag("linkedin_icon.png") %></i></a></div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-4 item">
				<div class="box" style="background-image:url(https://media.licdn.com/media/AAEAAQAAAAAAAAZfAAAAJGU4ZjRlNTczLTg5NjMtNDgyNS1hZmE0LTNjMDM3MjNjYzA0Mg.jpg)">
					<div class="cover">
						<h3 class="name">Derek Pham</h3>
						<p class="title">Programmer-at-Arms</p><br><br>
						<div class="social"><a href="https://www.linkedin.com/in/derekmpham/" target="_blank"><i class="linkedin-official"><%= image_tag("linkedin_icon.png") %></i></a></div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-4 item">
				<a href="https://www.linkedin.com/in/jay-naidu-706203108/"><div class="box" style="background-image:url(https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAoKAAAAJDNmMzk3MWE2LWZhZjItNDZjMi04YTVmLWJkMGQ3OWIzMDBmNA.jpg)"></a>
					<div class="cover">
						<h3 class="name">Jay Naidu</h3>
						<p class="title">Evil Genius</p><br><br>
						<div class="social"><a href="https://www.linkedin.com/in/jay-naidu-706203108/" target="_blank"><i class="linkedin-official"><%= image_tag("linkedin_icon.png") %></i></a></div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-4 item">
				<div class="box" style="background-image:url(https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAjNAAAAJGYwMzEwMjhhLTczY2UtNGFmOS1hM2Y4LTZiZDAwYzY3ZGQ0Nw.jpg)">
					<div class="cover">
						<h3 class="name">Sean Wright</h3>
						<p class="title">JavaScript Ninja</p><br><br>
						<div class="social"><a href="https://www.linkedin.com/in/seanwrightsf/" target="_blank"><i class="linkedin-official"><%= image_tag("linkedin_icon.png") %></i></a></div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-4 item">
				<div class="box" style="background-image:url(https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAhUAAAAJDY5YjlkMzJkLWU5OTItNGJhZi1hYTU4LTY2Mzg0NTg4NWRiNA.jpg)">
					<div class="cover">
						<h3 class="name">Oladejo "Wale" Olakareem</h3>
						<p class="title">Master of Style(ing)</p><br>
						<div class="social"><a href="https://www.linkedin.com/in/oladejo/" target="_blank"><i class="linkedin-official"><%= image_tag("linkedin_icon.png") %></i></a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
